<% if users.exists? %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>ユーザー名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <% if user.is_deleted == false %>
          <tr>
            <td>
              <%= link_to public_user_path(user) do %>
                <%= image_tag user.get_profile_image(50, 50) %>
              <% end %>
            </td>
            <td>
              <%= link_to public_user_path(user) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.followings.count %>フォロー</td>
            <td><%= user.followers.count %>フォロワー</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>