<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
      <div class="index-wrapped">
        <% if @range == "User" %>
          <h4 style="background-color: #99ff99;", class="text-white text-center">会員検索結果 "<%= @word %>"</h4>
          <table class="table table-borderless">
            <tbody>
              <% @users.each do |user| %>
                <% if user.is_deleted == false %>
                  <tr>
                    <td>
                      <%= link_to public_user_path(user) do %>
                        <%= image_tag user.get_profile_image(50, 50) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to public_user_path(user), class:"text-info" do %>
                        <%= user.name %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

        <% else %>
          <h4 style="background-color: #99ff99;", class="text-white text-center">ゴフノベル検索結果 "<%= @word %>"</h4>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>タイトル</th>
                <th>作家名</th>
              </tr>
            </thead>
            <tbody>
              <% @novels.each do |novel| %>
              <% if novel.user.is_deleted == false %>
                <tr>
                  <td>
                    <%= link_to public_novel_path(novel), class:"text-success" do %>
                      <%= novel.title %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to public_user_path(novel.user), class:"text-info" do %>
                      <%= novel.user.name %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

    </div>
  </div>
</div>
