<div class="container">
  <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 mt-5 text-center">
      <p>
        <h4 class="text-success">ようこそ<br>
        <strong>5HUNOVEL-ゴフノベル-へ！</strong></h4>
        ゴフノベルは、<br>
        「５分で読める超短編小説」に特化した小説投稿サイトです。<br>
        ともに５分の世界を楽しみましょう！<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 offset-md-4 mt-5 text-center">
        <% if user_signed_in? %>
          <%= link_to "5HUNOVELとは？", public_about_path, class:"text-secondary mt-2" %><br>
          <%= link_to "タイムライン", public_timeline_path, class:"text-secondary mt-1" %>
        <% elsif admin_signed_in? %>
          <%= link_to "ユーザー管理画面へ戻る", admin_users_path, class:"btn btn-danger" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class:"btn btn-success mr-5 mb-5" %>
          <%= link_to "会員登録", new_user_registration_path, class:"btn btn-outline-success ml-5 mb-5" %><br>
          <%= link_to "ゲストの方はこちらから（閲覧用)", users_guest_sign_in_path, method: :post, class:"text-secondary pt-5" %><br>
          <%= link_to "5HUNOVELとは？", public_about_path, class:"text-secondary mt-2" %>
        <% end %>
    </div>
  </div>

</div>