  <table class="table table-borderless">
    <% novels.each do |novel| %>
      
          <tbody>
            <tr id="novel_<%= novel.id %>">
              <td width="50%">
                <%= link_to public_novel_path(novel.id), class:"text-success" do %>
                  <%= novel.title %>
                <% end %><br>
                <%= link_to public_user_path(novel.user), class:"text-info" do %>
                  <%= novel.user.name %>
                <% end %>
              </td>
              <td id="novel_<%= novel.id %>_btn" style="text-align: right;"><%= render "public/favorites/btn", novel: novel %></td>
            </tr>
          </tbody>
      
    <% end %>
  </table>