
    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>作家名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% novels.each do |novel| %>
        <tbody>
          <tr id="novel_<%= novel.id %>">
            <td>
              <%= link_to public_novel_path(novel.id) do %>
                <%= novel.title %>
              <% end %>
            </td>
            <td>
              <%= link_to public_user_path(novel.user) do %>
                <%= novel.user.name %>
              <% end %>
            </td>
            <td id="novel_<%= novel.id %>_btn"><%= render "public/favorites/btn", novel: novel %></td>
            <td>
              <%= link_to "#{novel.novel_comments.count} コメント", public_novel_path(novel.id) %><br>
              閲覧数: <%= novel.view_counts.count %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>