<div class="container">
  <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash.now[:alert] %>
      <%= render 'error', novel: @novel %>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <h3>ゴフノベル編集フォーム</h3>
      <%= render 'error', novel: @novel %>
      <%= form_with model: @novel, url: public_novel_path(@novel.id), method: :patch do |f| %>
        <table class="table table-borderless">
          <tr><td><strong>タイトル</strong></td></tr>
          <tr><td><%= f.text_field :title, size: 85 %></td></tr>
          <tr><td><strong>ジャンル</strong></td></tr>
          <tr><td>
            <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "--選択してください--") %>
          </td></tr>
          <tr><td>
            <%= link_to "ジャンルを新しく追加したい場合はこちらで追加してください", public_genres_path, class:"text text-secondary" %><br>
            <p class="text-danger">※入力したデータは保存されませんのでご注意ください。</p>
          </td></tr>
          <tr><td><strong>小説本文</strong></td></tr>
          <tr><td><%= f.text_area :body, rows: 10, cols: 90 %></td></tr>
          <tr><td><%= f.submit '変更を保存する', class: "btn btn-sm btn-success" %></td></tr>
        </table>
      <% end %>
    </div>
  </div>
</div>

