<div class="container">
    <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash.now[:alert] %>
      <%= render 'error', novel: @novel %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
      <%= link_to "＜ マイページへ", public_user_path(current_user), class:"text-info" %>
      <div class="index-wrapped">

        <h4 style="background-color: #99ff99;", class="text-white pl-5">ゴフノベル投稿フォーム</h4>

        <%= form_with model: @novel, url: public_novels_path, method: :post do |f| %>
          <div class="field ml-2">
           <%= f.label :title %><br>
           <%= f.text_field :title, placeholder: "タイトル", width: '100%' %>
          </div>
          <div class="field ml-2">
            <%= f.label :genre %><br>
            <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "--選択してください--") %>
          </div>
          <p class="ml-2">
            <%= link_to "ジャンルを新しく追加したい場合はこちらで追加してください", public_genres_path, class:"text text-secondary" %><br>
            <p class="text-danger ml-1 mr-1">※入力したデータは保存されませんのでご注意ください。</p>
          </p>
          <div class="textarea">
            <%= f.label :body %><br>
            <%= f.text_area :body, id:"novel_text", placeholder: "本文（3000文字以内）",rows: '10', cols: '100' %>
            <span class="count", id="count_body">0文字</span>
          </div>
          <div class="actions text-center">
            <%= f.submit '投稿する', class:"btn btn-lg btn-success", data: { confirm: "投稿しますか？"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
