<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h3>ゴフノベル投稿フォーム</h3>
      <%= render 'error', novel: @novel %>
      <%= form_with model: @novel, url: public_novels_path, method: :post do |f| %>
        <table class="table table-borderless">
          <tr><td><strong>タイトル</strong></td></tr>
          <tr><td><%= f.text_field :title, size: 85 %></td></tr>
          <tr><td><strong>小説本文</strong></td></tr>
          <tr><td><%= f.text_area :body, rows: 10, cols: 90 %></td></tr>
          <tr><td><%= f.submit '投稿する' %></td></tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
