<div class="container">
  <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 mt-3">
      <div class="index-wrapped px-3">
        <div class="text-center mt-3 mb-3">
        <h4><%= @novel.title %></h4><br>
        <%= link_to public_user_path(@novel.user), class:"text-success" do %>
          <%= @novel.user.name %>
        <% end %><br>
        ジャンル:
        <%= link_to public_genre_path(@genre), class:"text-info" do %>
          <%= @novel.genre.name %>
        <% end %><br>
        </div>
        <!--以下の記述で、連続した改行・段落が可能-->
        <%= safe_join(@novel.body.split("\n"),tag(:br)) %>
        <p class="mt-2">投稿日: <%= @novel.created_at.strftime('%Y/%m/%d') %>
          <div id="novel_<%= @novel.id %>">
            <div id="novel_<%= @novel.id %>_btn"><%= render "public/favorites/btn", novel: @novel %></div>
            <div id="comment_count">
              コメント件数: <%= @novel.active_comments.count %>
            </div>
            <div>閲覧数: <%= @novel.view_counts.count %></div>
          </div>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 mt-5">
      <div class="novel_comments">
        <h6 class="text-info pl-5", style="background: #e6ffe9;">コメント</h6>
        <p id="comment_area">
          <%= render 'public/novel_comments/index', novel: @novel %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <% if current_user.name != "ゲストユーザー" %>
        <div class="textarea">
        <%= form_with(model: [@novel, @novel_comment], url: public_novel_novel_comments_path(@novel.id), method: :post, local: false) do |f| %>
            <%= f.label :comment %><br>
            <%= f.text_area :comment, id: "novel_comment_comment", rows: '5', placeholder: "コメントをここに", cols: 100 %>
            <div class="field", style="text-align: right;"><%= f.submit "コメント送信", class:"btn btn-sm btn-outline-info" %></div>
        <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4 offset-md-4 text-center">
      <table class="table table-borderless">
        <% if @novel.user == current_user %>
          <tr>
            <td><%= link_to "小説を編集する", edit_public_novel_path(@novel.id), class: "btn btn-success" %></td>
            <td><%= button_to "小説を削除する", public_novel_path(@novel), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？"} %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>