<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <%= flash[:notice] %>
      <table class="table table-borderless">
        <tr><td><h3><%= @novel.title %></h3></td></tr>
        <tr><td>
          <%= link_to public_user_path(@novel.user), class:"text-secondary" do %>
            <%= @novel.user.name %>
          <% end %>
        </td></tr>
        <tr><td>ジャンル:
          <%= link_to public_genre_path(@genre) do %>
            <%= @novel.genre.name %>
          <% end %>
        </td></tr>
        <!--以下の記述で、連続した改行・段落が可能-->
        <tr><td><%= safe_join(@novel.body.split("\n"),tag(:br)) %></td></tr>
        <tr><td>投稿日: <%= @novel.created_at.strftime('%Y/%m/%d') %></td></tr>
      </table>
      <table class="table table-borderless">
        <tr id="novel_<%= @novel.id %>">
          <td id="novel_<%= @novel.id %>_btn"><%= render "public/favorites/btn", novel: @novel %></td>
          <td id="comment_count">
            コメント件数: <%= @novel.novel_comments.count %>
          </td>
          <td>閲覧数: <%= @novel.view_counts.count %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <table class="table table-borderless novel_comments">
        <thead>
          <tr>
            <th></th>
            <th>ユーザー名</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="comment_area">
          <%= render 'public/novel_comments/index', novel: @novel %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <% if current_user.name != "ゲストユーザー" %>
      <%= form_with(model: [@novel, @novel_comment], url: public_novel_novel_comments_path(@novel.id), method: :post, local: false) do |f| %>
        <table class="table table-borderless">
        <%#= render 'public/novel_comments/form', novel: @novel, novel_comment: @novel_comment %>

          <tr>
            <td><%= f.text_area :comment, id: "novel_comment_comment", rows: '5', placeholder: "コメントをここに", cols: 100 %></td>
          </tr>
          <tr><td><%= f.submit "コメント送信" %></td></tr>

      　</table>
      <% end %>
      <% end %>
    </div>
    <div class="col-4 offset-4">
      <table class="table table-borderless">
        <% if @novel.user == current_user %>
          <tr>
            <td><%= link_to "小説を編集する", edit_public_novel_path(@novel.id), class: "btn btn-success" %></td>
            <td><%= button_to "小説を削除する", public_novel_path(@novel), method: :delete, class: "btn btn-danger", data: { confirm: "本当に削除しますか？"} %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>