<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <h4 class="text-success mt-5"><span style="background-color: #ccffcc;"><strong><%= @user.name %></strong></span>さんとのチャットルーム</h4>

        <ul id="message", style="list-style: none;", class="mt-5">
          <% @chats.each do |chat| %>
            <% if chat.user_id == current_user.id %>
              <li style="text-align: right; background-color: #90ee90;"><%= chat.message %></li>
            <% else %>
              <li style="text-align: left; background-color: #ccffcc;"><%= chat.message %></li>
            <% end %>
          <% end %>
        </ul>

      <div class="row justify-content-end">
      <%= form_with model: @chat, url: public_chats_path(@chat), method: :post, data: {remote: true} do |f| %>
        <%= f.text_field :message %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "送信", class:"btn btn-outline-light", style:"background-color: #90ee90;" %>
      <% end %>
      </div>

    </div>
  </div>
</div>