<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-3">

        <% if @range == "User" %>
          <h4>会員検索結果 "<%= @word %>"</h4>
          <table class="table table-borderless">
            <tbody>
              <% @users.each do |user| %>
                  <tr>
                    <td>
                      <%= link_to admin_user_path(user), class:"text-success" do %>
                        <%= image_tag user.get_profile_image(50, 50) %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to admin_user_path(user), class:"text-success" do %>
                        <%= user.name %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>

        <% else %>
          <h4>ゴフノベル検索結果 "<%= @word %>"</h4>
          <table class="table table-borderless">
            <tbody>
              <% @novels.each do |novel| %>
                <tr>
                  <td>
                    <%= link_to admin_novel_path(novel) do %>
                      <%= novel.title %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to admin_user_path(novel.user), class:"text-success" do %>
                      <%= novel.user.name %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

    </div>
  </div>
</div>
