<div class="cantainer">
  <div class="row">
    <div class="col-6 offset-3 mt-5">
      <h4>ジャンル編集</h4>
      <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
        <table class="table table-borderless">
          <tr>
            <td>ジャンル名</td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.submit '変更を保存' %></td>
          </tr>
        </table>
      <% end %>
      <%= render 'admin/novels/list', novels: @novels%>
      <%= link_to "ジャンルを削除する", admin_genre_path(@genre), method: :delete, class:"btn btn-danger", data: { confirm: "本当に削除しますか？"} %>
    </div>
  </div>
</div>