<div class="container">
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <h4>ジャンル一覧・追加</h4>
      <%= form_with model: @genre, url: public_genres_path, method: :post do |f| %>
        <table class="table table-borderless">
          <tr>
            <td>ジャンル名</td>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit '新規登録'%></td>
          </tr>
        </table>
      <% end %>
      <table class="table">
         <thead>
           <tr>
             <th>ジャンル名</th>
             <th></th>
           </tr>
           <% @genres.each do |genre| %>
           <tr>
             <td>
               <%= link_to public_genre_path(genre) do %>
                 <%= genre.name %>
               <% end %>
              </td>
             <td><%= link_to "ジャンル名を編集する", edit_public_genre_path(genre.id), class:"btn btn-success" %></td>
           <% end %>
           </tr>
         </thead>
      </table>
    </div>
  </div>
</div>