<div class="container">
  <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash[:notice] %>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <h4><%= @novel.title %></h4><br>
      <p>
        <%= link_to admin_genre_path(@genre) do%>
          <%= @novel.genre.name %>
        <% end %>
      </p>
      <p>
        <%= link_to admin_user_path(@user) do %>
          <%= @novel.user.name %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <table class="table table-borderless">
        <tr>
          <td><%= safe_join(@novel.body.split("\n"),tag(:br)) %></td>
        </tr>
        <td>
            コメント件数: <%= @novel.novel_comments.count %>
        </td>
        <tr>
          <td>投稿日: <%= @novel.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>
            <%= link_to "内容を編集する", edit_admin_novel_path(@novel), class: "btn btn-success ml-2 mr-5" %>
            <%= link_to "小説を削除する", admin_novel_path, method: :delete, class: "btn btn-danger ml-5", data: { confirm: "本当に削除しますか？"} %>
          </td>
        </tr>
      </table>
      <table class="table table-borderless">
        <% @novel.novel_comments.each do |novel_comment| %>
        <tr>
          <td width="10%"><%= image_tag novel_comment.user.get_profile_image(50, 50) %></td>
          <td width="15%"><%= novel_comment.user.name %></td>
          <td width="50%"><%= novel_comment.comment %></td>
          <td width="15%"><%= novel_comment.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            <%= link_to "削除", admin_novel_novel_comment_path(novel_comment.novel, novel_comment), method: :delete, remote: true, class: "text-danger", data: { confirm: "本当に削除しますか？"} %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>