
<div class="col-sm-12 col-md-3 mt-3">

  <div class="profile-wrapped text-center">
    <h5 style="background-color: #66cc00;", class="text-white">プロフィール</h5>
    <table class="table table-borderless">
      <tr>
        <td class="profile-image">
          <%= image_tag user.get_profile_image(100,100) %>
        </td>
      </tr>
      <div class="profile-box">
        <tr><td class="text-success"><%= user.name %></td></tr>
        <% if user.is_deleted == false %>
          <% if user.name != "ゲストユーザー" %>
            <tr><td><%= safe_join(user.introduction.split("\n"),tag(:br)) %></td></tr>
            <tr>
              <td id="following_count_<%= user.id %>">
                <%= link_to "#{ user.active_followings.count }フォロー", public_user_followings_path(user), class:"text-success" %>
              </td>
            </tr>
            <tr>
              <td id="follower_count_<%= user.id %>">
                <%= link_to "#{ user.active_followers.count }フォロワー", public_user_followers_path(user), class:"text-success" %>
              </td>
            </tr>
            <% if user == current_user %>
              <tr>
                <td><%= link_to "新規投稿はこちら", new_public_novel_path, class: "btn btn-outline-info" %></td>
              </tr>
              <tr>
                <td><%= link_to "プロフィール編集", edit_public_user_path(user), class: "btn btn-success" %></td>
              </tr>
            <% else %>
              <% if current_user.name != "ゲストユーザー" %>
              <tr><td>
                <%= link_to "メッセージを送る", public_chat_path(user), class:"btn btn-sm btn-outline-info" %>
              </td></tr>
              <% end %>
            <% end %>

          <% end %>
          <tr>
            <td id="follow_form_<%= user.id %>">
              <%= render 'public/relationships/follow_btn', user: user %>
            </td>
          </tr>
        <% end %>
      </div>
    </table>
  </div>
</div>