<div class="container">
  <div class="row">
    <div class="col text-center mt-1", style="background-color: #99cccc;">
      <%= flash[:notice] %>
      <% if @user.errors.any? %>
          <%= @user.errors.count %>件のエラーが発生しました
          <ul style="list-style: none;">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 mt-5">
      <div class="index-wrapped">
        <h4 style="background-color: #99ff99;", class="text-white pl-5">会員プロフィール編集フォーム</h4>

        <%= form_with model: @user, url: public_user_path, method: :patch do |f| %>
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, autofocus: true, id: "inputName", placeholder:"会員名" %>
          </div>
          <div class="field">
            <label for="inputImage">プロフィール画像</label><br>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像 ", accept: "image/*" %>
          </div>
          <div class="textarea">
            <%= f.label :introduction %><br>
            <%= f.text_area :introduction, autofocus: true, rows: 5, cols: 60, id: "inputIntroduction", placeholder:"自己紹介" %>
          </div>
          <div class="text-center mt-3">
            <%= f.submit '更新する', class:"btn btn-sm btn-success mr-5" %><%= link_to "退会する", public_users_unsubscribe_path, class: "btn btn-sm btn-danger ml-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




