<div class="container">
  <div class="row">
    <%= render 'list', user: @user %>

    <div class="col-9">
      <h2>ユーザー一覧</h2>
        <table class="table">
          <tr>
            <th></th>
            <th>ユーザー名</th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to public_user_path(user.id) do %>
                  <%= image_tag user.get_profile_image(100, 100) %>
                <% end %>
              </td>
              <td>
                <%= link_to public_user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
              </td>
              <% unless current_user == user %>
                <% if current_user.following?(user) %>
                  <td>
                    <%= link_to "フォロー外す", public_user_relationships_path(user), method: :delete, class: "btn btn-danger" %>
                  </td>
                <% else %>
                  <td>
                    <%= link_to "フォローする", public_user_relationships_path(user), method: :post, class: "btn btn-success" %>
                  </td>
                <% end %>
              <% end %>
            </tr>

          <% end %>
        </table>
    </div>
  </div>
</div>
