<div class="container">
  <div class="row">
    <%= render 'list', user: @user %>

    <div class="col-md-8 offset-1 mt-3">

      <div class="user-index-wrapped">
      <h4 style="background-color: #99ff99;", class="text-white pl-5">会員一覧</h4>
        <table class="table table-borderless">
          <% @users.each do |user| %>
            <% if user.name != "ゲストユーザー" %>
              <tr id="follow-form">
                <td>
                  <%= link_to public_user_path(user.id) do %>
                    <%= image_tag user.get_profile_image(50, 50) %>
                  <% end %>
                </td>
                <td>
                  <%= link_to public_user_path(user.id), class:"text-success" do %>
                    <%= user.name %>
                  <% end %>
                </td>
                <td id="follow_form_<%= user.id %>">
                  <%= render 'public/relationships/follow_btn', user: user %>
                </td>
                <td>
                  <% if current_user != user %>
                    <%= link_to "メッセージを送る", public_chat_path(user), class:"btn btn-sm btn-outline-info" %>
                  <% end %>
              </td>
              </tr>
            <% end %>

          <% end %>
          <center><%= paginate @users %></center>
        </table>
        
      </div>
    </div>
  </div>
</div>
